<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Inventory System{% endblock %}</title>
    <style>
        nav {
            background: #eee;
            padding: 10px;
        }
        nav a {
            margin-right: 15px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
          <a href="{% url 'dashboard' %}">Dashboard</a>
          {% if user.role == 'manager' %}
              <a href="{% url 'manage_categories' %}">Manage Categories</a>
              <a href="{% url 'manage_products' %}">Manage Products</a>
          {% endif %}
          <a href="/api/stock/sales/">Sales</a>
          <a href="/api/stock/restock/">Restock</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>

